.contribution-card-container{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}

.card{
    width: 300px;
    height: 200px;
    background: {
        size: cover;
        position: center;
    }
    position: relative;
    border-radius: 20px;
    justify-content: center;
}

.contributions-container {
    font: {
        size: 1.5rem;
    }
    padding: {
        top: 4rem;
        right: 8rem;
    }
    margin: {
        left: 5rem;
    }
    height: 100vh;
}

.button{
    background-color: #86BBD8;
    display: inline-block;
    width: 65%;
    height: 40px;
    padding: 1px;
    margin-top: 12px;
    position: relative;
    left: 2.5rem;
    border-radius: 10px;
    z-index: 10;
}

.title-container{
    background-color: #86BBD8;
    box-shadow: 5px 5px 15px #000001e5;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 10;
}

.button-side-expand{
    display:none;
    box-shadow: 5px 5px 15px #000001e5;
    border-radius: 10px;
    position: relative;
    left: 2rem;
    bottom: 8.5rem;
    height: 120px;
    width: 140px;
    background-color: #FED766;
    z-index: 0;
    animation: slideopen 0.5s linear 1 normal forwards;
}

.wrapper{
    z-index: -10;
}

.wrapper:hover > .button-side-expand{
    display: block;
} 

.wrapper:hover > .button-side-expand > button{
    display: inline-block;
} 

.body{
    justify-content: center;
    align-items: center;
}

@keyframes slideopen {
    from {
        left: 2rem;
    }
    to {
        left: 7rem;
    }
}