.contribution-card-container{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}

.contributions-container {
    font: {
        size: 1.5rem;
    }
    padding: {
        top: 4rem;
        right: 8rem;
    }
    margin: {
        left: 5rem;
    }
    height: 100vh;
}