$primary-color: #63A46C;
$secondary-color: #FED766;
$tertiary-color: #86BBD8;

img {
	height: 200px;
	width: 200px;
	background: {
		size: cover;
		position: center;
		}
	border-radius: 100%;
	box-shadow: 5px 5px 15px #000001e5;
}

h1 {
	font: {
		family: 'Staatliches', cursive;
	}
}

.btn-container{
	display:flex;
	flex-direction:column;
}

.custom-button {
	background-color: #86BBD8;
	color: #000000;
	text-decoration: none;
	display: block;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	padding: 1rem;
	margin: 1rem;
	border-radius: 10px;
	width: 200px;
}

.custom-icon {
	font: {
	family: 'Space Grotesk', sans-serif;
	weight: 300;
	}
	padding: 0px;
	margin: 0px;
}

.hide {
	display: none;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.15); }

.custom-button:hover{
	animation: shadow-pulse 1s infinite;
	background-color: $primary-color;
}

.nav-container{
	display:flex;
	justify-content:center;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

@media only screen and (orientation: portrait) {
	img{
		height: 150px;
		width: 150px;
	}
	.btn-container{
		position: relative;
		flex-direction:row;
		left: 6rem;
		bottom: 7rem;
	}
	.custom-button {
		font-size: .75rem;
		font-weight: 150;
		padding: .5rem;
		margin: .5rem;
		border-radius: 5px;
		width: 100px;
	}
  }

