.main-container{
  display: flex;
  flex-direction: 'row';
  width: 100%;
  height: 100%;
}

.view{
  background-color: #63A46C;
  position: absolute;
  overflow: scroll;
  top: 25%;
  height: 80%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  
  .view{
    width: 70%;
    top: 0%;
    height: 100%;
  }
}